fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv

sqlalchemy
psycopg2-binary

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint

qdrant-client

sentence-transformers
torch
transformers

httpx
requests
orjson
PyYAML